body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: rgb(234, 241, 234);
}

.app {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.slider {
   display: flex;
   flex-direction: column;
}

.imageContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.imageContainer > img {
   height: 70%;
   width: 70%;
   border: 2px solid black;
   border-radius: 5px;
   overflow: hidden;
}

.buttonContainer {
   gap: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
}

button {
   background-color: rgb(64, 231, 13);
   border: none;
   font-size: larger;
   height: 40px;
   width: 40px;
   padding: 5px 3px;
   border-radius: 49%;
   border: 2px solid black;
}
button:hover {
   background-color: rgb(66, 170, 66);
}
